* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    padding: 2rem;
    padding-bottom: 1rem;
    text-align: center;
    color: #ffffff;
    background: #ffaa00;
    background-image: linear-gradient(#ffaa00, #ff6600 100%);
}

article {
    flex-grow: 1;
    padding: 1rem;
    max-width: 60rem;
    width: 100%;
}

.footer-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #ffffff;
    background: #ffaa00;
    background-image: linear-gradient(#ff6600, #ffaa00 100%);
}

footer {
    max-width: 60rem;
    width: 100%;
    padding: 1rem;
}

