* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 20rem;
}

header {
    width: 100%;
    padding: 2rem;
    padding-bottom: 1rem;
    text-align: center;
    color: #ffffff;
    background: #ffaa00;
    background-image: linear-gradient(#ffaa00, #ff6600 100%);
}

article {
    flex-grow: 1;
    padding: 1rem;
    max-width: 60rem;
    width: 100%;
}

footer {
    width: 100%;
    box-sizing: border-box;
    padding-inline: calc(50% - 30rem);
    padding-block: 1rem;
    color: #ffffff;
    background: #ffa500;
    background-image: linear-gradient(#ff6600, #ffa500 100%);
}

.calendar {
    display: flex;
    flex-direction: column;
    border: solid 0.05rem;
    border-color: #eeeeee;
    margin-block: 1rem;
}

.calendar * {
    overflow: hidden;
    text-overflow: ellipsis;
}

.week-head {
    display: flex;
    text-align: center;
    justify-content: center;
}

.week {
    height: 6rem;
    display: flex;
}

.day {
    width: calc(100%/7);
    border: solid 0.05rem;
    border-color: #eeeeee;
}

.day-head {
    border-radius: 0.25rem;
    background: #eeeeee;
    padding-left: 0.25rem;
}

.weekend .day-head {
    border-radius: 0.25rem;
    background: #cccccc;
    padding-left: 0.25rem;
}

.today .day-head {
    border-radius: 0.25rem;
    background: #ffa500;
    padding-left: 0.25rem;
    color: #ffffff;
}

.day-spill * {
    opacity: 25%;
}
