{{ define "calendar" }}
{{ if eq .View "month" }}
    {{ template "month" . }}
{{ else }}
    {{ errorf "invalid view for calendar: %s" .View }}
{{ end }}
{{ end }}

{{ define "month" }}
<div id="calendar">
    <div class="calendar-title">{{ .Title }}</div>
    <div class="calendar-dow">Monday</div>
    <div class="calendar-dow">Tuesday</div>
    <div class="calendar-dow">Wednesday</div>
    <div class="calendar-dow">Thursday</div>
    <div class="calendar-dow">Friday</div>
    <div class="calendar-dow">Saturday</div>
    <div class="calendar-dow">Sunday</div>
    {{ range $i, $day := .Days }}
        <div class="day day-{{ $day.Weekday }}{{ if $day.Today }} day-today{{ end }}{{ if $day.Spill }} day-spill{{ end }}">
            <div class="day-head">{{ $day.Number }}</div>
            {{ range $day.Events }}
                <div class="day-event">
                    {{ formatTime "15:04" .StartTime }} {{ .Summary }}
                </div>
            {{ end }}
        </div>
    {{ end }}
</div>
{{ end }}
