{{ define "index" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Webcal Proxy</title>
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/main.css">
        <script src="/assets/js/htmx.min.js"></script>
        <script src="/assets/js/main.js"></script>
    </head>
    <body>
        <header>
            <h1>Webcal Proxy</h1>
            <p>Filter and merge events from webcal:// feeds</p>
        </header>
        <main>
            <form id="config-form"
                data-hx-post="/"
                data-hx-target="#calendar"
                data-hx-swap="outerHTML"
                data-hx-trigger="load delay:1s,
                    keyup changed delay:1s from:#input-url"
            >
                <input id="input-url"
                    type="text"
                    name="cal"
                    class="form-control"
                    placeholder="enter a webcal url"
                    aria-label="Calendar URL"
                >
                <input id="user-tz" name="user-tz" type="hidden">
                <input id="ical-cache" name="ical-cache" type="hidden">
            </form>
            <div id="calendar"></div>
        </main>
        <footer>
            <p>©2024 Bracken Dawson</p>
        </footer>
    </body>
</html>
{{ end }}
